apiVersion: v1
kind: PersistentVolume
metadata:
  name: load-gen-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  storageClassName: ""
  hostPath:
    path: /data/load_gen