apiVersion: v1
kind: ConfigMap
metadata:
  name: otelcol-config
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
    processors:
      batch:
        timeout: 5s
        send_batch_size: 1024
    exporters:
      otlp/telegraf:
        endpoint: "telegraf.han.gg:4317"
        tls:
          insecure: true
        timeout: 10s
    service:
      telemetry:
        metrics:
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: 0.0.0.0
                    port: 8888
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/telegraf]
