apiVersion: apps/v1
kind: Deployment
metadata:
  name: opentelemetry-collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opentelemetry-collector
  template:
    metadata:
      labels:
        app: opentelemetry-collector
    spec:
      containers:
      - name: opentelemetry-collector
        image: otel/opentelemetry-collector:latest
        args:
          - "--config=/apps/otel/config.yaml"
        ports:
        - name: otlp-grpc
          containerPort: 4317
        - name: metrics
          containerPort: 8888
        volumeMounts:
        - name: otelcol-config
          mountPath: /apps/otel
      volumes:
      - name: otelcol-config
        configMap:
          name: otelcol-config