apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: telegraf
rules:
- apiGroups: [""]
  resources:
    - nodes
    - nodes/proxy
    - pods
    - services
    - endpoints
    - namespaces
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources:
    - deployments
    - daemonsets
    - statefulsets
    - replicasets
  verbs: ["get", "list", "watch"]
- nonResourceURLs:
    - /metrics
    - /metrics/*
    - /api
    - /api/*
    - /apis
    - /apis/*
    - /stats
    - /stats/*
  verbs: ["get"]